if hexo-config('css_prefix')
  @import 'nib'

@import '_haisky/*.css'
@import '_third-party/normalize.min.css'
// project
@import 'https://cdn.jsdelivr.net/gh/l-lin/font-awesome-animation/dist/font-awesome-animation.min.css'
@import 'https://ka-f.fontawesome.com/releases/v5.15.0/css/pro.min.css'
@import 'var'
@import '_global/*'
@import '_highlight/highlight'
@import '_page/*'
@import '_layout/*'
@import '_tags/*'
@import '_mode/*'

// search
if hexo-config('algolia_search.enable')
  @import '_search/index'
  @import '_search/algolia'

if hexo-config('local_search') && hexo-config('local_search.enable')
  @import '_search/index'
  @import '_search/local-search'
