#bbTimeList.bbTimeList.container
    i.bber-gotobb.iconfont.icon-bb-logo(onclick="location='/bbtalk/'",title="哔哔吧！",style="font-size: 1.5rem;")
    #bbtalk.swiper-container
        #bber-talk.swiper-wrapper(onclick="location='/bbtalk/'")
    i.bber-gotobb.fas.fa-angle-double-right.pass(onclick="location='/bbtalk/'")
.js-pjax
    script(src='https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js',data-pjax='')
    script(src='/js/haisky/showbb_in_index.js',data-pjax='',defer='')