#speak
  script(type='text/javascript', src='https://cdn.jsdelivr.net/npm/ispeak-bber/ispeak-bber-md.min.js', charset='utf-8')
  script(type='text/javascript', src='https://cdn.jsdelivr.net/npm/ispeak-bber/ispeak-bber.min.js', charset='utf-8')
  script(src='https://cdn.jsdelivr.net/gh/buddys/qq-wechat-emotion-parser@master/dist/qq-wechat-emotion-parser.min.js')
  script.
    ispeakBber
    .init({
    el: '#speak', 
    name: '#{theme.bbtalk.name}', 
    envId: '!{theme.bbtalk.envId}', 
    region: 'ap-shanghai', 
    limit: 10, 
    avatar: '#{theme.bbtalk.avatar}',
    fromColor:'rgb(245, 150, 170)', 
    loadingImg: 'https://7.dusays.com/2021/03/04/d2d5e983e2961.gif', // 自定义loading的图片，示例值为默认值
    dbName:'talks' 
    })
    .then(function() {
    console.log('哔哔 加载完成')
    })